@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0%{ opacity: 0; };
  100%{ opacity: 1; };
}

@-webkit-keyframes fadeIn {
  0%{ opacity: 0; };
  100%{ opacity: 1; };
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply bg-blue-300 hover:bg-blue-400;
}

/* navegacion item */
.link-underline {
  position: relative;
  display: inline-block;
}

.link-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.link-underline:hover::after {
  width: 100%;
}

/* Scroll animacion imagenes */
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.imagen-scroll {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}